*{
    box-sizing: border-box;
}
body,div,ul,li,a,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
:root{
    --bg-mix: color-mix( in srgb, #f62 70%, #fff);
    --sidebar-white: #fff;
    --dark-orange: #f62;
    --trans-parent: transparent;
}
body{
    background-color: var(--bg-mix);
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* SIDEBAR STYLES */

.aside {
    background-color: var(--sidebar-white);
    position: fixed;
    height: 100dvh;
    width: clamp(220px, 35vw,300px);
    font-size: clamp(1rem, 2.2vw, 1.5rem);
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 30px 0 30px 6px;
}
.aside_form{
    position: absolute;
    display: none;
}
.aside_nav{
    flex: 1;
    display: flex;
}
.aside_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.aside_item {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
    padding-right: 6px;
    color: var(--dark-orange);
    border-radius: 36px 0 0 36px;
    position: relative;
}
.aside_item a {
    color: inherit;
    text-decoration: none;
}
.aside_item span{
    padding: 12px;
    font-size: 1.5rem;
}
.aside_item:hover{
    background-color: var(--bg-mix);
    color: var(--sidebar-white);
}
.aside_item::before,
.aside_item::after{
    content: '';
    position: absolute;
    right: 0%;
    width: 10px;
    height: 10px;
    background-color: var(--trans-parent);
}
.aside_item:hover::before{
    border-bottom-right-radius: 25px ;
    top: -10px;
    content: '';
    box-shadow: 4px 4px 0 4px var(--bg-mix);
}
.aside_item:hover::after{
    bottom: -10px;
    content: '';
    box-shadow: 4px -4px 0 4px var(--bg-mix);
    border-top-right-radius: 25px;
}



